<ul>
    <li><strong>Name: </strong><%= @duck.name %></li>
    <li><strong>Description: </strong><%= @duck.description %></li>
    <li><strong>Student: </strong><%= link_to @duck.student.name, student_path(@duck.student) %></li>

<ul>